.caixasPretas {
    background-color: black;
    padding: 20px 0px 30px 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    opacity: 1.0;
}

#copyright {
    text-align: left;
    margin-left: 20px;
}

#divFooter {
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 10px;
}